topbarre{
    div{
        background-color: $gris;
    }
    .carreeTopBarre{
        background: white;
        width: 4%;
        text-align: center;
    }
    .divNav{
        font-variant-caps: all-petite-caps;
    }
}
.nav-link:hover, .nav-link:focus {
    color: #ab7442;
}