// Sect 3
.gDivSect3{
    height: 35rem;
}
.sect3Fond{
    background-color: white;
    height: 20%;
    margin-top: 5%;

}
.imgSect3{
    height: 100%;
    width: 120%;
}
.sect3Btn{
    border: none;
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
span{
    color: $marron;
    font-size: 30px;
}
.divSect3{
    width: 50%;
    padding: 10%;
    padding-left: 15%;
}