// Sect 3

.sect3Fond{
    background-color: white;
    height: 20%;
    margin-top: 5%;

}
.imgSect3{
    height: 70%;
    width: 100%;
}
.sect3Btn{
    border: none;
    margin-top: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
span{
    color: $marron;
    font-size: 30px;
}